<section class="container-fluid">
  <div class="card mt-5">
    <div class="header">
      Posted By:
      <span class="fw-bold">{{blog.user.username}}</span>
      On:
      {{format_date blog.created}}
    </div>
    <div class="card-body">
      <h2 class="card-title">{{blog.title}}</h2>
      <p class="card-text">{{blog.content}}</p>
    </div>
  </div>

  {{#if logged_in}}
  <div class="card mt-5">
    <div class="card-body">
      <form class="form new-comment-form">
        <div class="form-group">
          <label for="comment-content">Leave A Comment:</label>
          <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </form>
    </div>
    {{/if}}
    
</section>