<section class="container-fluid row">
  {{each blogs as |blog|}}
  <div class="card mt-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>
      <p class="card-text">{{blog.content}}</p>
    </div>
  </div>
  {{/each}}
</section>