<section class="container-fluid">
  <div class="card mt-5">
    <div class="card-header">
      <h2>Login</h2>
  </div>
  <div class="card-body">
    <form class="login-form">
      <div class="mb-4">
        <label for="login-password" class="form-label">Username</label>
        <input type="text" class="form-control" id="login-username">
      </div>
      <div class="mb-4">
        <label for="login-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="login-password">
      </div>
      <a href="/signup">If You Do Not Already Have An Account, You Can Create One Here!</a>
      <br>
      <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
  </div>
</section>
<script src="/js/login.js"></script>

